<% layout('../layout/main') -%>

<main>

    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">Welcome to our Restaurant</h2>
        <p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax
            effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or
            non-commercial websites.</p>
    </header>
    <div class="row tm-gallery">
        <!-- gallery page 1 -->
        <div id="tm-gallery-page-pizza" class="tm-gallery-page">
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Fusce dictum finibus</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$45</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$65</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Sed varius turpis</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$30</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$25</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$80</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Quisque et felis eros</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$20</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Sed ultricies dui</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$94</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img"/>
                    <figcaption>
                        <h4 class="tm-gallery-title">Donec porta consequat</h4>
                        <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet
                            tellus accumsan</p>
                        <p class="tm-gallery-price">$15</p>
                    </figcaption>
                </figure>
            </article>
        </div> <!-- gallery page 1 -->
    </div>
</main>
