<header class="placeholder">
    <div class="tm-header">
        <div class="row tm-header-inner">
            <div class="col-md-6 col-12">
                <img src="img/simple-house-logo.png" alt="Logo" class="tm-site-logo"/>
                <div class="tm-site-text-box">
                    <h1 class="tm-site-title">Restaurant</h1>
                    <h6 class="tm-site-description">Welcome to our Restaurant</h6>
                </div>
            </div>
            <nav class="col-md-6 col-12 tm-nav">
                <ul class="tm-nav-ul">
                    <li class="tm-nav-li"><a href="<%= process.env.SITE_URL%>" class="tm-nav-link <%if(typeof url != 'undefined'){if(process.env.SITE_URL+ url === process.env.SITE_URL + '/' ){%>active<%}}%>">Home</a></li>
                    <li class="tm-nav-li"><a href="<%= process.env.SITE_URL%>/menu" class="tm-nav-link <%if(typeof url != 'undefined'){if(process.env.SITE_URL+ url === process.env.SITE_URL+'/menu'){%>active<%}}%>">Menu</a></li>
                    <li class="tm-nav-li"><a href="<%= process.env.SITE_URL%>/about" class="tm-nav-link <%if(typeof url != 'undefined'){if(process.env.SITE_URL+ url === process.env.SITE_URL+'/about'){%>active<%}}%>">About</a></li>
                    <li class="tm-nav-li"><a href="<%= process.env.SITE_URL%>/contact" class="tm-nav-link <%if(typeof url != 'undefined'){if(process.env.SITE_URL+ url === process.env.SITE_URL+'/contact'){%>active<%}}%>">Contact Us</a></li>

                </ul>
            </nav>
        </div>
    </div>
</header>
